html {
  background-color: whitesmoke;
}

.App {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

#controls {
  margin: 20px 0;
}

#controls label {
  margin: 0 10px;
}

#step-sequencer {
  display: inline-block;
					width: 100%;
					height: 120px;
}

#container {
  width: 100%;
					height: 100%;
					display: flex;
}

.square {
  background-color: lightblue;
}

.square.filled {
  background-color: teal;
}

.square.filled.active {
  background-color: white;
}

.row-label {
  float: left;
  height: 31px;
}