html,
body,
#root {
  height: 100%;
}

.App {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}

.row-label {
  float: left;
  height: 31px;
  width: 31px;
}

.theme-select {
  margin-bottom: 10px;
}

#controls {
  margin: 20px 0;
}

#controls button {
  margin: 0 5px;
  padding: 5px 10px;
}


#controls #bpm {
  height: 21px;
}

#controls label {
  margin: 0 10px;
}

#step-sequencer {
  display: inline-block;
  width: 100%;
  height: 120px;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
}

#step-sequencer {
  width: 600px;
}

/* light mode */
html .light {
  background-color: whitesmoke;
}

.light .square {
  background-color: lightblue;
}

.light .square.filled {
  background-color: teal;
}

.light .square.filled.active {
  background-color: mediumturquoise;
}

.light #controls button {
  background: white;
  border: 1px solid lightseagreen;
}

.light #controls button:active,
.light #controls button:hover {
  background: lightcyan;
}

@keyframes glow {
  0% {
  /*border-color: #393;*/
  border-color:#a6f961;
  /*box-shadow: 0 01 px rgba(200,0,0,.2), inset 0 0 5px rgba(200,0,0,.1), 0 1px 0 #000;*/
  }	
  100% {
    border-color:#f2f961;
  /*border-color: #6f6;*/
  /*box-shadow: 0 0 5px rgba(200,0,0,.6), inset 0 0 5px rgba(200,0,0,.4), 0 1px 0 #000;*/
  }
}

/* dark mode */

html .dark {
  background-color: #0b0b0f;
  color: #a6fa62;
}

.dark .square {
  background-color: #21212c;
}

.dark .square.filled {
  background-color: #ffffff;
}

.dark .square.filled.active {
  background-color: #61f969;
}

.dark #controls button {
  background: white;
  border: 1px solid lightseagreen;
}

.dark #controls button:active,
.dark #controls button:hover {
  background: lightcyan;
}

@keyframes glow-dark {
  0% {

  border-color:navajowhite;
  box-shadow: 0 01px rgba(255,0,0,.2), inset 0 0 5px rgba(255,0,0,.1), 0 1px 0 #000;
  }	
  100% {
    border-color:tomato;
  box-shadow: 0 0 5px rgba(255,0,0,.6), inset 0 0 5px rgba(255,0,0,.4), 0 1px 0 #000;
  }
}